@model IEnumerable<DataLayer.Blog>
<!-- News Section -->

<section class="news-section">
    <div class="auto-container">

        <div class="sec-title centered">
            <div class="title">وبلاگ ما</div>
            <h2>بررسی  <br> اخبار سایت </h2>
        </div>
        <div class="row clearfix">


            @foreach (var item in Model)
            {
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <a href="Blog/@item.BlogID"><img src="/Images/@item.ImageName" alt="@item.Title" style=" width: 370px; height: 270px;"/></a>
                        </div>
                        <div class="lower-content">
                            <div class="post-date"> <span>@item.CreateDate.ToShamsi()</span></div>
                            <ul class="post-meta">
                                <li><span class="icon flaticon-comment"></span>تعداد 3 نظر </li>
                                <li><span class="icon flaticon-user"></span>ادمین </li>
                            </ul>
                            <h4><a href="Blog/@item.BlogID">@item.Title</a></h4>
                            <div class="text">@item.ShortDiscription ...</div>
                            <a class="read-more" href="Blog/@item.BlogID">ادامه مطلب <span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End News Section -->