@model IEnumerable<DataLayer.Blog>
<div class="sidebar-widget popular-posts">
    <div class="sidebar-title">
        <h5>پست های اخیر : -</h5>
    </div>
    @foreach (var item in Model)
    {
        <div class="widget-content">
            <article class="post">
                <figure class="post-thumb"><img src="~/Images/@item.ImageName" alt="@item.Title" style="width:80px;height:80px;"><a href="/Blog/@item.BlogID" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                <div class="text"><a href="/Blog/@item.BlogID">@item.Title</a></div>
                <div class="post-info">@item.CreateDate.ToShamsi()</div>
                <div class="post-info">بازدید:<span>@item.Visit</span></div>
            </article>

        </div>
    }
</div>
